fastapi
uvicorn[standard]
google-cloud-storage
openai
python-dotenv
python-multipart
langchain
langchain-openai
langchain-community
chromadb
langchain-chroma
pypdf
tiktoken 
unstructured
pytesseract
Pillow
python-pptx
python-docx 
nltk 
gunicorn